*{
  margin: 0;
  padding: 0;
}
button{
  margin: 10px;
}
.app{
  .header{
    width: 100%;
    background: #000;
    height: 50px;
    p{
      color:#fff;
      font-size: 18px;
      line-height: 50px;
      width: 100px;
      margin: 0 auto;
    }
  }
  .body{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    .side{
      display: flex;
      flex-direction: column;
      width: 200px;
      a{
        display: inline-flex;
        box-sizing: border-box;
        padding-left: 10px;
        height: 40px;
        font-size: 16px;
        color: #333;
        line-height: 40px;

      }

    }
    .container{
      width: 100%;
      background-color: #f5f5f5;
      .buttons{
        width: 100%;
        padding: 30px;
        .list{
          padding: 20px;
        }
      }
      .Icon{
        width: 100%;
        padding: 30px;
        i{
          margin: 10px;
        }
      }
      .Rows{
        width: 100%;
        padding: 30px;
        .ant-row{
          box-sizing: border-box;
          margin: 20px 0;
        }
      }
    }
  }

}